
@{
    ViewData["Title"] = "AddContributorRequest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@model AgileManagement.Application.ProjectDto

<h1>Contributer Management</h1>

<div class="container">

    <div class="row">
        <div class="col-6">
            <div class="card">

                <div class="card-body">
                    <div class="card-title">@Model.Name</div>
                    <ul class="list-group">
                        @foreach (var contributor in Model.Contributors)
                        {
                            <li class="list-group-item">@contributor.Email </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Other Users</div>

                    <div class="input-group mb-3">
                        <select id="userSelector" class="form-control" asp-items="@ViewBag.UsersWithNoContributors"></select>
                        <button class="btn btn-sm btn-outline-dark" onclick="AddContributor()">(+) Add Contributor</button>
                    </div>

                </div>

            </div>
        </div>


    </div>




    <div class="d-flex mt-3 justify-content-center">
        <div class="col-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Email</td>
                        <td>Option</td>
                    </tr>

                </thead>
                <tbody id="contributorTable">
                </tbody>
                <tfoot>
                    <tr>

                        <td colspan="2" style="text-align:center">
                            <button class="btn btn-success" onclick="SendContributorRequest('@Model.ProjectId')">Send Contributor Request</button>
                        </td>
                    </tr>

                </tfoot>
            </table>
        </div>

    </div>



</div>

@section Scripts {

    <script>

        let contributors = [];


        function AddContributor() {

            const userId = $("#userSelector").val();
            const email = $("#userSelector option:selected").text();

            const contributor = {
                userId,
                email
            };

            if (!contributors.find(x => x.email == email)) {

                contributors = [contributor, ...contributors];

                $('#contributorTable').append(`
                    <tr id='user_${userId}'>
                        <td>${email}</td>
                        <td><button class='btn btn-danger' onclick='deleteContributor(${userId})'>Remove</button>
                        </td>
                    </tr>`);

                console.log('contributors', contributors);

            }
        }


        function SendContributorRequest(projectId) {

            console.log('projectId', projectId);
            console.log('contributors', contributors);
            const usersId =  contributors.map(item => { return item.userId })


            const param = {
                projectId,
                usersId
            }

            console.log('param', param);

            $.ajax({
                method: 'Post',
                url: '/Admin/Project/AddContributorRequest',
                contentType:'application/json',
                data: JSON.stringify(param), // data body den gönder demek
                success: (response) => {
                    alert('Başarılı')
                },
                error: (error) => {
                    console.log('error', error);
                }
            })


        }


    </script>

}







