
@{
    ViewData["Title"] = "Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Management</h1>


@model List<AgileManagement.Application.ProjectDto>

<h1>Projects</h1>

<table class="table table-striped">
    <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Contributors</th>
        <th>Operations</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@string.Join(',', item.Contributors.Select(a => a.Email))</td>
            <td><a asp-area="Admin" asp-controller="Project" asp-action="AddContributorRequest" asp-route-projectId="@item.ProjectId">Add Contributor to Project</a></td>
        </tr>
    }
</table>