
@{
    ViewData["Title"] = "Register";
}

@model RegisterInputModel

<h1>Register</h1>


<div class="text-info">@ViewBag.Message</div>

<form method="post">

    <div asp-validation-summary="All"></div>

    <input asp-for="Email" type="email" class="form-control" placeholder="Email"  />
    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
    <input type="submit" value="Register" />
</form>

